
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    text-align: center;
    /*background-color: gray;*/
    padding: 10px;
    background: url("./assets/bg.jpg") no-repeat center / cover fixed;
    position: relative;
}

.title {
    display: flex;
    align-items: center;
    margin: 5px auto;
    /*background-color: white;*/
    background: rgb(255,0,0);
    background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 100%);
    padding: 10px;
    border-radius: 25px;
    background: rgb(255,0,0);
    background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 100%);
    color: white;
    box-shadow: 0 0 5px 5px gray;
}

.title-img {
    width: 100px;
    transition: 0.2s;
}

.title-img:hover {
    scale: 1.2;
}

.tableau {

    width: 750px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    gap: 10px;

}

h2 {
    padding: 10px 5px;
}

.personnages {
    width: 100%;
    border: 1px solid black;
    /*padding: 15px;*/
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px #363636;

    margin: auto;
    padding: 5px;
    border-radius: 5px;

}

input {
}

button, input {
    width: 100%;
    padding: 5px 0;
    border-radius: 10px;
    border: 1px solid black;
    transition: 0.2s;
}

input:hover {

    cursor: pointer;
    background-color: black;
    color: white;
}


table {
    width: 100%;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
}

thead {
    background-color: lightgray;
}

/*tr:nth-child(3) td:nth-child(2) {*/
/*    background-color: yellow;*/
/*}*/

.tb1 {

    background: rgb(255,0,0);
    background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 100%);
    color: white;
    box-shadow: 0 0 5px 5px gray;

}
.tb2 {

    background: rgb(255,0,0);
    background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 100%);
    color: white;
    box-shadow: 0 0 5px 5px gray;
    color: white;
}

table {
    color: black;
}
.tb3 {
    background-color: lightcoral;
}

.options {
    margin: 5px 5px;
}

.red {
    color: white;
    background-color: red;
}

.remove {
    color: white;
    background-color: orange;
    text-align: center;
}

.new-perso {
    width: 30%;
    text-align: center;
}

.controle {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin: auto;
}

.controle-title {
    width: 100%;

}

.controle-button {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

.controle-taille {
    width: 25%;
}

.modification {

    border: 1px solid black;
    background-color: white;
    padding: 10px;
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 2px 2px 4px 2px gray;

}

h2, h3, h4 {

    color: white;
    margin: auto;
    text-shadow: 0px 0px 30px orange;


}

.text-game {

    background: black;
    width: 30%;
    height: 100%;
    border-radius: 2px;
    border: 1px solid white;
    margin: auto;
    border-radius: 25px;
    position: relative;
    overflow: hidden;

}

.text-game h2 {
    color: green;
    font-size: 40px;
}

.text-game h3 {
    color: yellow;
}

.text-effect {
    width: 100%;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    position: absolute;
    animation: animate 12s linear;

}

@keyframes animate {


    0%{
        bottom: -300%;
    }
    100%{
        bottom: 0%;
    }

}







